@charset "utf-8";

body {
    color: #666;
    font-size: 12px;
    /* font-family: 'Mircosoft YaHei','Courier New', Courier, monospace */
}
a {
    color: #666;
}


/* ==>S  顶部区域 */

.h-header .top-nav {
    margin: 0 auto;
    width: 1190px;
    height: 74px;
    padding-top: 24px;
}
/*S logo区域 */
.h-header .top-nav .logo {
    float: left
}
.top-nav .logo h1 {
    position: absolute;
    text-indent: -9999999px;
}

/*S logo区域 */

/* S 搜索栏区域 */
.h-header .top-nav .search {
    position: relative;
    margin: 0 265px 0 357px;
    padding-top: 10px;
    line-height: 30px;
}
.top-nav .search .course-sel {
    border: 1px solid #ececec;
    display: inline-block;
    width: 66px;
    height: 30px;
    text-align: center;
    position: relative;
}
.top-nav .search input {
    border: 1px solid #ececec;
    display: inline-block;
    width: 400px;
    height: 30px;
    padding-left: 1em;
}
.search .course-sel, .search input {
    float: left;
}
/* 设置倒三角 */
.top-nav .search .icon-sel {
    float: right;
    margin: 14px 6px;
}
/* 设置弹出层 */
.top-nav .search .course-menu {
    position: absolute;
    top: 30px;
    left: -1px;
    display: none;
}
.h-header .course-menu li {
    border: 1px solid #ececec;
    border-top: none;
    width: 66px;
}

.top-nav .course-sel:hover .course-menu {
    display: block;
}
.top-nav .course-menu li:hover {
    background-color: #ccc;
}
/* 设置两个模块对齐 */
.top-nav .search .icon-search {
    position: absolute;
    top: 15px;
    left: 445px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../img/search.gif') no-repeat;
}
/* E 搜索栏区域 */

.h-header .top-nav .user-nav {
    float: right
}

.h-header .site-nav-wrap {
    margin: 0 auto;
    height: 60px;
    width: 1190px;

}

/* S 用户导航栏区域 */
.h-header .top-nav .user-nav {
    padding-top: 5px;
}

/* 设置消息框，头像，教师端三模块浮动 */
div.user-nav > ul > li {
    float: left;
    height: 42px;
    line-height: 42px;
    margin: 0 11px 0 14px;
}

/* 设置消息框模块 */
.h-header .user-nav .msg-wrap {
    position: relative;
    top: 10px;
    width: 34px;
    height: 40px;
    background: url('../img/sprite-msg.png') no-repeat left top;
}
.h-header .user-nav .msg {
    position: relative;
    top: -15px;
    right: -18px;
    display: inline-block;
    width: 34px;
    height: 40px;
    line-height: 18px;
    padding-left: 4px;
    background: url('../img/sprite-msg.png') no-repeat left bottom;
}
.h-header .user-nav .msg-num {
    color: #fff;
}

/* 设置头像和教师端下三角 */
.h-header .user-nav i.icon {
    display: inline-block;
    float: right;
    margin: 17px 0 0 7px;
}
/* 设置个人用户头像模块 */
.h-header .user-nav .avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%; 
}
.user-nav .username {
    display: inline-block;
}

/* 设置弹出来的用户菜单 */
.h-header .user-nav .user {
    position: relative;
}
.h-header .user-nav .user-menu-cover {
    position: absolute;
    left: 0;
    top: 42px;
    display: none;
}
.user-nav .user:hover .user-menu-cover {
    display: block;
}
/* 设置弹出层的样式 */
.user-nav .user-menu-cover li {
    display: block;
    border: 1px solid #f1f1f1;
    width: 124px;
    height: 40px;
    text-align: center;
}
.user-nav .user-menu-cover li:hover {
   background-color: #ececec;
}

/* 设置教师弹出层 */
.h-header .user-nav .teacher {
    position: relative;
}
.user-nav .teacher-cover {
    position: absolute;
    left:-20px;
    top: 42px;
    display: none;
    z-index: 999;
}
.user-nav .teacher:hover .teacher-cover {
    display: block;
}
.user-nav .teacher li {
    border: 1px solid #f1f1f1;
    width: 124px;
    height: 40px;
    text-align: center;
}
.user-nav .teacher li:hover {
    background-color: #ececec;
}
/* E 用户导航栏区域 */

/* S 设置主导航区 */

.h-header .site-nav {
    background-color: #3598db;
    font-size: 16px;
    color: #fff;
}
.h-header .site-nav a {
    color: #fff;
}

.h-header .site-nav .site-nav-wrap {
    width: 1190px;
    height: 60px;
    margin: 0 auto;
}

/* 设置右侧导航栏背景颜色 */
.site-nav .bg-red-wrap {
    margin-left: 1190px;
    position: relative;
    
}
.site-nav .bg-red-wrap .bg-red {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 60px;
    background-color: #e7594d;
}

/* 设置左侧导航区域 */
.site-nav .site-nav-wrap .main-nav {
    float: left;
}
.site-nav-wrap .main-nav ul > li {
    float: left;
    height: 60px;
    line-height: 60px;
    padding-right: 10px;
}
.main-nav-list li a {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
    border-radius: 3px;
}
.main-nav-list li a.current {
    background-color: #2db0f9;
}
.main-nav-list li a:hover {
    background-color: #2db0f9;
}

/* 设置右侧导航区域 */
.site-nav .site-nav-wrap .aside-nav {
    float: right;
    background-color: #e7594d;
}
.site-nav-wrap .aside-nav ul > li {
    float: left;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
}

/* E 设置主导航区 */

/* ==>E  顶部区域 */

/* ========================================================= */
/* ==>S  banner区域 */
.h-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 404px;
    background-color: #61caff;
}
.h-banner .banner-img {
    width: 100%;
}
.h-banner .slide-bar {
    position: absolute;
    left: 50%;
    top: 376px;
    z-index: 100px;
    margin-left: -45px; 
    width: 90px;
    height: 14px;
}
.h-banner .slide-bar .slide-btn {
    float: left;
}
.h-banner .slide-btn a {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('../img/ico_circle.png') no-repeat -73px 0;
    margin-right: 15px;
}
.h-banner .slide-btn a.cur-banner, .h-banner .slide-btn a:hover {
    background: url('../img/ico_circle.png') no-repeat -58px -22px;
}

/* ==>E  banner区域 */

/* ==>S  产品列表区域 */
.h-main .p-module {
    width: 1190px;
    margin: 35px auto;
    /* border: 1px solid #e7594d;
    height: 300px; */
}
.p-module .p-module-head {
    height: 40px;
    line-height: 40px;
}
.p-module .p-module-head .p-module-title {
    float: left;
    font-size: 23px;
    border-left: 7px solid #2db0f9;
    padding-left: 16px;
}
.p-module .p-module-head .p-module-more {
    float: right;
    color: #4aa0dd;
}

.p-module .p-module-body {
    margin-top: 20px;
}
.p-module .p-module-body .p-module-main {
    width: 210px;
    height: 240px;
    float: left;
    overflow: hidden;
    margin: 0 18px 10px 10px;
    font-size: 15px;
}
.p-module-main a img {
    margin: 7px 0;
}

/* ==>E  产品列表区域 */

/* ==>S  布局的CSS代码 */

/* ==>S  布局的CSS代码 */
